<%= form_for(@card, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @card.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h4>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :page_x, "Page", :class => "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <div class="input-group">
        <%= f.text_field :page_x, :class => "form-control" %>
        <span class="input-group-addon">&#8596;</span>
        <span class="input-group-addon">
          <%= f.check_box :extra_x, class: "checkbox-inline" %>
          <%= f.label :extra_x, ".", :title => "blank on right", :class => "label-inline glyphicon glyphicon-list-alt" %>
        </span>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="input-group">
        <%= f.text_field :page_y, :class => "form-control" %>
        <span class="input-group-addon">&#8597;</span>
        <span class="input-group-addon">
          <%= f.check_box :extra_y, class: "checkbox-inline" %>
          <%= f.label :extra_y, ".", :title => "blank on bottom", :class => "label-inline glyphicon glyphicon-list-alt" %>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :num_box_x, "Number boxes", :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <div class="input-group">
        <%= f.text_field :num_box_x, :class => "form-control" %>
        <span class="input-group-addon">&#8596;</span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="input-group">
        <%= f.text_field :num_box_y, :class => "form-control" %>
        <span class="input-group-addon">&#8597;</span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="checkbox">
        <%= f.check_box :dash %>
        <%= f.label :dash, "Non-Solid rectangle" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gutter_x, "Gutter", :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <div class="input-group">
      <%= f.text_field :gutter_x, :class => "form-control" %>
        <span class="input-group-addon">&#8596;</span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="input-group">
      <%= f.text_field :gutter_y, :class => "form-control" %>
        <span class="input-group-addon">&#8597;</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gutter_tx, "Gutter", :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <div class="input-group">
      <%= f.text_field :gutter_t, :class => "form-control" %>
        <span class="input-group-addon">&#8593;</span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="input-group">
      <%= f.text_field :gutter_r, :class => "form-control" %>
        <span class="input-group-addon">&#8594;</span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="input-group">
      <%= f.text_field :gutter_b, :class => "form-control" %>
        <span class="input-group-addon">&#8595;</span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="input-group">
      <%= f.text_field :gutter_l, :class => "form-control"%>
        <span class="input-group-addon">&#8592;</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
