<div class="page-header">
  <%= link_to new_card_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Card
  <% end %>
  <h1>Listing cards</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Page </th>
        <th>Num box</th>
        <th>Gutter</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @cards) do |card| %>
        <td><%= link_to card.name, edit_card_path(card) %></td>
        <td><%= card.page_x %>x<%= card.page_y %></td>
        <td><%= card.num_box_x %>x<%= card.num_box_y %></td>
        <td>
          <%= card.gutter_x %>&#8596;
          <%= card.gutter_y %>&#8597;
          <%= card.gutter_t %><%=raw("&#8593;") if card.gutter_t %>
          <%= card.gutter_r %><%=raw("&#8594;") if card.gutter_r %>
          <%= card.gutter_b %><%=raw("&#8595;") if card.gutter_b %>
          <%= card.gutter_l %><%=raw("&#8592;") if card.gutter_l %>
        </td>
        <td>
          <%= link_to 'Show', card, :class => 'glyphicon glyphicon-info-sign' %>
          <%= link_to 'Edit', edit_card_path(card), :class => 'glyphicon glyphicon-pencil' %>
          <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'glyphicon glyphicon-remove' %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
