<style>
@media print
{
  @page
  {
      size: auto;   /* auto is the initial value */
      margin: 0;
      size: US-Letter landscape;
  }
  .navbar-header, nav, .page-header
  {
      display: none !important;
  }
  .container, nav, body, svg {
    margin: 0 !important; padding: 0 !important;
  }
}
rect {
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 2,15;
  fill: none;
}
svg { width: 11in; height: 8in;}
</style>
<div class="page-header">
  <%= link_to cards_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_card_path(@card), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show card</h1>
</div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.2"
     xmlns:xlink="http://www.w3.org/1999/xlink">

<rect x="0" y="0" width="<%=@card.width%>in" height="<%=@card.height%>in" ></rect>
<%- @card.boxes.each do |box| -%>
<rect x="<%=box.x%>in" y="<%=box.y%>in" width='<%=box.width%>in' height='<%=box.height%>in' ></rect>
<%- end -%>
</svg>
